/* products.css */

/* 全体の基本スタイル */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    margin: 40px;
    color: #333;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
}

/* テーブルの装飾 */
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
     background-color: #27ae60;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f0f8ff;
}

tr:hover {
    background-color: #e0f7fa;
}
button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.nav-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.delete-button {
  background-color: #e74c3c; /* 赤系 */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}


